################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Different-linear-programming-algorithms/v17
/.vs/solve/CopilotIndices/17.14.1701.5382
/Different-linear-programming-algorithms/bin/Debug/Different-linear-programming-algorithms.exe
/Different-linear-programming-algorithms/bin/Debug/Different-linear-programming-algorithms.pdb
/Different-linear-programming-algorithms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Different-linear-programming-algorithms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.CoreCompileInputs.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.FileListAbsolute.txt
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.exe
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.GenerateResource.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.pdb
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.exe.config
/.vs/solve.slnx/FileContentIndex/0621e696-7ce6-492b-a66b-cd91cf133ec9.vsidx
/.vs/solve.slnx/FileContentIndex/17143376-0e9d-4216-9f21-1ef6f0d8a61c.vsidx
/.vs/solve.slnx/FileContentIndex/68e9c8a3-2e55-4a9f-8531-bceea2a5b42f.vsidx
/.vs/solve.slnx/FileContentIndex/cc15118d-ba36-49fe-b457-c78092edde34.vsidx
/.vs/solve.slnx/FileContentIndex/59bfa37e-950a-4bb1-afc6-ad95a43e3510.vsidx
/.vs/solve.slnx/FileContentIndex/f8a4dfd0-88c4-4f96-a53e-50f1c4425325.vsidx
/.vs/solve.slnx/v17/.suo
/.vs/solve.slnx/FileContentIndex/0621e696-7ce6-492b-a66b-cd91cf133ec9.vsidx
/.vs/solve.slnx/FileContentIndex/17143376-0e9d-4216-9f21-1ef6f0d8a61c.vsidx
/.vs/solve.slnx/FileContentIndex/59bfa37e-950a-4bb1-afc6-ad95a43e3510.vsidx
/.vs/solve.slnx/FileContentIndex/cc15118d-ba36-49fe-b457-c78092edde34.vsidx
/.vs/solve.slnx/FileContentIndex/68e9c8a3-2e55-4a9f-8531-bceea2a5b42f.vsidx
/Different-linear-programming-algorithms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.CoreCompileInputs.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.GenerateResource.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.pdb
/Different-linear-programming-algorithms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.csproj.FileListAbsolute.txt
/Different-linear-programming-algorithms/obj/Debug/Different-linear-programming-algorithms.exe
/Different-linear-programming-algorithms/bin/Debug/Different-linear-programming-algorithms.exe
/Different-linear-programming-algorithms/bin/Debug/Different-linear-programming-algorithms.pdb
/.vs/solve.slnx/FileContentIndex/17143376-0e9d-4216-9f21-1ef6f0d8a61c.vsidx
/.vs/solve.slnx/FileContentIndex/59bfa37e-950a-4bb1-afc6-ad95a43e3510.vsidx
/.vs/solve.slnx/FileContentIndex/cc15118d-ba36-49fe-b457-c78092edde34.vsidx
/.vs/solve.slnx/FileContentIndex/0621e696-7ce6-492b-a66b-cd91cf133ec9.vsidx
/.vs/solve.slnx/FileContentIndex/68e9c8a3-2e55-4a9f-8531-bceea2a5b42f.vsidx
/.vs/solve.slnx/v17/DocumentLayout.backup.json
/.vs/solve.slnx/v17/DocumentLayout.json
/Different-linear-programming-algorithms/.vs/Different-linear-programming-algorithms.csproj.dtbcache.json
